<link rel="stylesheet" href="./css/room.css">
<div id="left">
	<div id="left-header">
		<a id="back-home" href="/"><i class="fas fa-arrow-circle-left"></i></a>
	</div>
	<div id="members" class="text-break">
		<h5>Members</h5>
		<hr class="solid">
	</div>
</div>
<div id="right">
	<div id="chat-header">
		<h2 class="text-break" id="room-name"><%- room.room_name %></h2>
		<h4 id="room-id">ID: <%- room.roomid %></h4>
		<form id="leave" action="/leave" method="POST">
			<input type="text" name="roomId" id="roomId" value="<%= room.roomid %>" hidden>
			<input type="submit" class="btn btn-danger" value="Leave room">
		</form>
	</div>
	<div id="chat">
		<div id="messages">
			<% messageObjs.forEach( function(messageObj) { %>
				<% if(messageObj.username ==  username ) { %>
					<div class="message d-flex align-items-end flex-column">
						<div class="message-header">
							<span class="time"><%-messageObj.sent_at %></span>
							<span class="username"><%-messageObj.username %></span>
						</div>
						<div class="my-message content text-break">
							<p><%-messageObj.content%></p>
						</div>
					</div>
				<% } else { %>
					<div class="message d-flex align-items-start flex-column">
						<div class="message-header">
							<span class="username"><%-messageObj.username %></span>
							<span class="time"><%-messageObj.sent_at %></span>
						</div>
						<div class="not-my-message content text-break">
							<p><%-messageObj.content%></p>
						</div>
					</div>
				<% } %>
			<% }); %>
		</div>
		<form id="send-message-form" class="input-group mb-3" method="POST">
			<input type="text" class="form-control shadow-none" name="message" id="message-input" placeholder="Message" autocomplete="off">
			<input class="btn btn-primary" type="submit" id="button-addon1" class="send-message" value="Send">
		</form>
	</div>
</div>

<script src="./js/socket.io/socket.io.js"></script>
<script>
	const roomid = "<%- room.roomid %>";
	const myUsername = "<%- username %>";
</script>
<script src="./js/room.js"></script>
